@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@mixin sizebtn ($height,$bcolor,$width){
    height: $height;
    background-color: $bcolor;
    width: $width;
}


@mixin caja-flex($prinipal,$cruzado,$wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}

