@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


$color_1:#1244B7;
$color_2:#72ADAB;
$color_3:#E8D5B5;
$color_4:#F9F7FF;
$color_t1:#1243b786;
$color_t2: #72adab80;
$color_t3:#e8d5b589 ;


$font_1: 'Roboto Condensed', sans-serif;


$xs:12px;
$small:16px;
$medium:30px;
$large:70px;
$xl:90px;

$var_1:100%;
$var_2:75%;
$var_3:50%;
$var_4:25%;

$ancho:720px;
$alto:100px;




