@import "_variables";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


*{
    margin: 0%;
    padding: 0%;
  list-style: none;
  color: aliceblue;
}


.navbar{
    background-color: $color_1;
    a{
        color: $color_3;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font_1;
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 30px;
    }
}

.img-header{
    background-image: url(./img/trideo.jpg);
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   max-width: 100%;
   height: 80vh;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;

   .titulo-header{
    height: 300px;
    background-color:$color_t1;
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    top: 200px;
    margin: 50px;
    box-shadow: 1px 2px 5px black;
    h1{
        font-size: $large;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: $font_1;
        letter-spacing: 5px;
        font-weight: bold;
    }
   h3{
    font-size: $medium;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
   }
   .btn-header{
    background-color:$color_2;
    width:150px;
    height: 40px;
    margin-left: 350px;
    margin-top: 20px;

    font-size: 20px;
    border: none;
    font-family: $font_1;
    font-weight: 500;
    span{
        color: $color_3;
        text-shadow: black 2px 2px 5px;
    }
   
   }
    
   }

.section-1{
    background-color:$color_3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;


    .box-s1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin-left: 100px;
        margin-top: 70px;
        img{
            height: 300px;
            width: auto;
            border-radius: 8px;
            box-shadow: 2px 3px 8px black;
            
        }
        .body-s1{
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;
            
            h3{
                font-size: $medium;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-top: 20px;
                color:$color_1;
            }
            p{
             
                font-size: $small;
                font-family: $font_1;
                color: black;
            }
            .btn-s1{
                background-color:$color_4;
                width:100%;
                height: 60px;
                align-items: center;
                font-size: 20px;
                margin-top: 15px;
                border: none;
                border-radius: 5px;
                text-shadow: 1px 2px 5px black;
                span{
                    text-transform: uppercase;
                    font-family: $font_1;
                    font-weight: bold;
                }
            }
            
        }
    }
}
.btn-s1:hover{
    background-color:$color_3;
}
.section-2{
    background-color: $color_3;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.card-deck{
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    .card{
       width: 400px;
       height: 500px;
       float: left;
       border: none;
       img{
        height: 300px;
        width: auto;
       }
       .card-body{
        background-color:$color_1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 2px 5px black;
        
       
        h5{
           font-family: $font_1;
           font-weight: bold;
           font-size: $medium;
           text-transform: uppercase;
        }
        p{
           font-family: $font_1;
           font-weight: 400;
           font-size: $small;
            margin: 10px; 
            text-align: center;
        }
       }

    
    }
}
.section-3{
    background-color:$color_1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

    h2{
       
        color:$color_3;
        text-align: center;
        font-size:$medium;
        height: auto;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 1px 2px 5px black;
    }
 
}
.box-numeros{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    
    
.numero{
    background-color:$color_2;
    float: left;
    margin: 5px;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 5px black;
    
    h3{
        font-size: 100px;
        text-shadow: 1px 2px 5px black;
    }
    h5{
        font-size:$small;
        text-transform: uppercase;
    }
    
}
}
.section-4{
    background-color:white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    .texto-s4{
        font-family: $font_1;
        width: 500px;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px 20px;
        width: 50%;

        h2{
            font-weight: bold;
            color: black;
            text-transform: uppercase;
        }
        h5{
            font-weight: 500;
            text-transform: uppercase;
            color: black;
            font-size: $large;

        }
        p{
            font-size: $medium;
            color: black ;
            font-weight: 500;

        }
    }
    .img-s4{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        img{
            max-height: 600px;
            width: auto;
        }
   
        
        
    }
}
.imagen-fondo{
    background-image: url(./img/Cliente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}
.titulo-imagen{
    color: $color_3;
    text-align: center;
    padding-top: 2em;
    font-weight: 600;
    font-size: $large;
    text-shadow: black 1px 2px 5px;
    
}
.imagen-fondo2{
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

}
.pie-pagina{
    width: 100%;
    background-color: $color_5;
    h2{
    margin-top: auto;
    margin-left: auto;
    }

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,2fr) ;
    grid: gap 50px;
    padding:25px 0px ;

    .box{
        a{
            list-style: none;
            color: $color_3;
        }
        h2{
            color: $color_3;
            margin-bottom:15px ;
            font-size: $medium;
        }
        h3{
            color: $color_2;
            margin-bottom:10px ;
            font-size:20px;
        }
        }
    


    }
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
    .navbar{
        width: 100%;
        a{
        font-size: 15px;
        }
        .navbar-brand{
            font-size: 30px;
        }
       }
       .section-1{
        height: 60vh;
        .box-s1{
            height: 200px;
            margin-left: 20px;
            img{
                max-width: 100%;
                height: 200px;
            }
            }
            .body-s1{
                height: 100px;
                margin-left: 20px;
                text-align: start;
            
                    h3{
                    font-size:15px;
                    }
                    p{
                    font-size: 10px;
                    }
                .btn-s1{
                    width:50%;
                    height:75px;
                    font-size: 10px;
                   
                }
                }
            }
   
}
.section-2{
    
    height: 80vh;
    
}
.card-deck{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 .card{
       width: 300px;
       height: 400px;
       float: left;
       border: none;
       img{
        height: 200px;
        width: auto;
       }
       .card-body{
        height: 200px;
        width: 100%;
        
       
        h5{
           font-size: $small;
          
        }
        p{
           font-size: 15px;
           margin-top: 5px;
        }
       }
}
}
/* Escritorio pequeño / tablet */
@media only screen and (min-width:880px) and (max-width: 991px){
    .navbar{
        width: 100%;
        a{
        font-size:15 px;
        }
        .navbar-brand{
            font-size: 20px;
        }
    }
       .titulo-header{
        height:25px;
        width: 50px;
        margin-top: 50px;
        h1{
            font-size: 10px;
        }
       h3{
        font-size: 15px;
        margin-bottom: 20px;
        }
       }
       .btn-header{
        background-color:$color_2;
        width:100px;
        height: 20px;
        font-size: 10px;
        }
        .section-1{
        height: 80vh;
        .box-s1{
            height: 200px;
            width: auto;
            margin-left: 20px;
            img{
               width: auto;
               height: 200px;
            }
            }
            .body-s1{
                height: 150px;
                    h3{
                    font-size:15px;
                    }
                    p{
                    font-size: 10px;
                    }
                .btn-s1{
                    width:50%;
                    height:10px;
                    font-size: 10px;
                }
                }
            }
    .section-2{
    
        height: 80vh;
        
    }
    .card-deck{
    
     .card{
           width: auto;
           height: 400px;
           
           img{
            height: 200px;
            width: auto;
           }
           .card-body{
           height: 100px;
            
           
            h5{
              font-size: 18px;
              margin-top: 10px;
              text-align: center;
            }
            p{
              font-size: 12px;
              margin-top: 5px;
            }
           }
    
        
        }
    }
    .section-3{
        background-color:$color_1;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    
        h2{
           
            color:$color_3;
            text-align: center;
            font-size:$medium;
            height: auto;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow: 1px 2px 5px black;
        }
     
    }
    .box-numeros{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        height: 50vh;
        
        
    .numero{
        background-color:$color_2;
        float: left;
        margin: 5px;
        height: 200px;
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-shadow: 1px 2px 5px black;
        
        h3{
            font-size: 100px;
            text-shadow: 1px 2px 5px black;
        }
        h5{
            font-size:$small;
            text-transform: uppercase;
        }
        
    }
    }
    .section-4{
        background-color:white;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .texto-s4{
            font-family: $font_1;
            width: 500px;
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 10px 20px;
            width: 50%;
    
            h2{
                font-weight: bold;
                color: black;
                text-transform: uppercase;
            }
            h5{
                font-weight: 500;
                text-transform: uppercase;
                color: black;
                font-size: $large;
    
            }
            p{
                font-size: $medium;
                color: black ;
                font-weight: 500;
    
            }
        }
        .img-s4{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            width: 50%;
            img{
                max-height: 600px;
                width: auto;
            }
       
            
            
        }
    }
    .imagen-fondo{
        background-image: url(./img/Cliente.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 50vh;
    }
    .titulo-imagen{
        color: $color_3;
        text-align: center;
        padding-top: 2em;
        font-weight: 600;
        font-size: $large;
        text-shadow: black 1px 2px 5px;
        
    }
    .imagen-fondo2{
        background-image: url(./img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
    
    }
    .pie-pagina{
        width: 100%;
        background-color: $color_5;
        h2{
        margin-top: auto;
        margin-left: auto;
        }
    
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,2fr) ;
        grid: gap 50px;
        padding:25px 0px ;
    
        .box{
            a{
                list-style: none;
                color: $color_3;
            }
            h2{
                color: $color_3;
                margin-bottom:15px ;
                font-size: $medium;
            }
            h3{
                color: $color_2;
                margin-bottom:10px ;
                font-size:20px;
            }
            }
        
    
    
        }
    }
}
    
@media only screen and (min-width:576px) and (max-width: 879px){
    .section-1{
        height: 50vh;
        .box-s1{
            height: 100px;
            margin-left: 20px;
            img{
                max-width: 100%;
                height: 150px;
            }
            }
            .body-s1{
                height: 100px;
                text-align: center;
                    h3{
                    font-size:10px;
                    }
                    p{
                    display:none
                    }
                .btn-s1{
                    width:50%;
                    height:20px;
                    font-size: 10px;
                }
                }
            }
    .section-2{
    
        height: 90vh;
        
    }
    .card-deck{
        display: grid;
        grid-template-columns: repeat(2,5fr);
        grid-template-rows: repeat(2,1fr);
    
     .card{
           width: 250px;
           height: auto;
           margin: 10px;
       
           
           img{
            height: 150px;
            width: 300px;
           }
           .card-body{
           height: 100px;
           
            
           
            h5{
              font-size: 18px;
              margin-top: 10px;
              text-align: center;
            }
            p{
            display: none;
            }
           }
    
        
        }
    }
}

/* Teléfonos */
@media only screen and (max-width: 600px){
}
